.galleryPhoto {
	height: 200px;
	aspect-ratio: 1;
	background-color: #d9d9d9;
}
.image {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

#skeleton {
	--bg-size: 400%;
	background: linear-gradient(90deg, #d9d9d9, #c9c9c9, #d9d9d9) 0 0 /
		var(--bg-size) 100%;
	animation: move-bg 4s infinite linear;
}

@keyframes move-bg {
	to {
		background-position: var(--bg-size) 0;
	}
}

@media only screen and (max-width: 700px) {
	.galleryPhoto {
		height: 150px;
	}
}

@media only screen and (max-width: 500px) {
	.galleryPhoto {
		height: 100px;
	}
}
@media only screen and (max-width: 350px) {
	.galleryPhoto {
		height: 80px;
	}
}
