.galleryPage {
	padding: var(--nav-height) 0;
}

.photoContainer {
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 1em;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.photoContainer::-webkit-scrollbar {
	display: none;
}
