.Modal {
	background-color: var(--primary);

	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;

	z-index: 4;

	padding: 2em 4em;

	overflow: hidden;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
}

.ModalHeader {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ModalHeader > h1 {
	font-size: var(--large-text);
}

.closebtn {
	position: absolute;
	left: 1em;
	top: 1em;
	cursor: pointer;
	color: var(--contrast);
	transition: all 200ms ease-in;
}

.ModalBody {
	margin-top: 5em;
	display: flex;
	height: 80%;
	width: 100%;

	justify-content: center;
}

.ModalBody > div:nth-child(1) {
	width: 50%;
	height: 100%;
}
.ModalBody > div:nth-child(1) > img {
	width: auto;
	height: 100%;

	position: relative;
	top: -3em;
}

.ModalBody > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-size: var(--medium-text);
	font-weight: 400;
	color: white;
	width: 50%;
}

.joinbtn {
	background-color: var(--active);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	height: 70px;
	width: auto;
	padding: 1em 1em;

	font-weight: 700;
	font-size: var(--medium-text);
	color: white;
}

@media only screen and (max-width: 1280px) {
	.ModalBody > div:nth-child(1) {
		position: absolute;
		width: 100%;
		height: auto;
	}
	.ModalBody > div:nth-child(1) > img {
		opacity: 0.35;
	}

	.ModalBody > div:nth-child(2) {
		width: 100%;
		position: relative;
	}
}

@media only screen and (max-width: 680px) {
	.Modal {
		padding: 2em 2em;
	}

	.ModalBody {
		height: 60%;
		margin-top: 1em;
	}

	.ModalBody > div:nth-child(1) > img {
		left: -12em;
	}

	.joinbtn {
		height: 40px;
	}
}
