.structurePage {
	padding-top: 1em;
	background: linear-gradient(180deg, #bd412b 1.86%, #bf5b21 100%);
	height: 100%;
	width: 100%;

	overflow: hidden;
	--container-height: 80vh;
}

.carousel {
	height: 100% !important;
}

.wrap {
	margin-top: 20em;
}

.contentcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4em;
}

.structurecontainer {
	width: 80vw;
	background-color: var(--primary);
	box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, 0.25);
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	gap: 2em;
}

.structurecontainer > h1 {
	position: relative;
	text-align: end;
	right: 1em;
	top: 1em;

	color: var(--contrast);
}

.slides {
	position: relative;

	width: 80vw;
	min-height: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: center;
	padding: 1.25em;
}

.personCard {
	background-color: var(--primary-shade-1);
	box-shadow: 0px 0px 16px 6px rgba(0, 0, 0, 0.25);
	width: 200px;
	height: 300px;
	padding: 1em 1em;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transition: 200ms ease-out;
}

.personCard:hover {
	scale: 1.05;
	box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.25);
}

.personInfo {
	height: 100%;
	width: 100%;
	margin-top: 1.5em;
	display: flex;
	flex-direction: column;
}

.personInfo h1 {
	height: 100%;
	font-size: 16px;
	color: var(--contrast);
	overflow: hidden;
	max-height: 2.4em;
	line-height: 1.2em;
}

.personInfo p {
	margin-top: 0.5em;
	height: 100%;
	font-size: 12px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.5);
}

.personImage {
	height: auto;
	aspect-ratio: 1;
	object-fit: contain;

	border-radius: 50%;
	background-color: var(--contrast);
}

.personCardFooter {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	gap: 0.5em;
	fill: var(--contrast);
	opacity: 0.5;
}

.sekbidContainer {
	position: relative;
	left: 0;
	padding-left: 10vw;
	width: 100vw;
	padding: 1.25em 10vw 1.25em 10vw;
	display: flex;
	gap: 3em;
	overflow-y: hidden;
	overflow-x: scroll;

	scrollbar-width: thin;
	scrollbar-track-color: var(--primary-shade-3);
	scrollbar-color: var(--contrast) var(--primary-shade-3);
}

.sekbidContainer::-webkit-scrollbar {
	background-color: var(--primary-shade-3);
	width: 4px;
}

.sekbidContainer::-webkit-scrollbar-thumb {
	background-color: var(--contrast);
	border-radius: 12px;
}

.personCard.nine {
	position: relative;
	/* display: block; */
	border: 1px solid var(--active);
}
/* 
.personCard.nine::before {
	z-index: -2;
	position: absolute;
	content: "";
	left: -2px;
	top: -2px;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	background-color: red;
} */

.nine h1 {
	--bg-size: 400%;

	display: block;
	text-align: center;
	background: linear-gradient(
			90deg,
			var(--contrast),
			var(--active),
			var(--contrast)
		)
		0 0 / var(--bg-size) 100%;
	color: transparent;
	-webkit-background-clip: text;
	background-clip: text;
	animation: move-bg 12s infinite linear;
}

#danish img {
	transition: all 200ms ease-out;
}

#danish:hover img {
	-webkit-animation: rotating 8s linear infinite;
	-moz-animation: rotating 8s linear infinite;
	-ms-animation: rotating 8s linear infinite;
	-o-animation: rotating 8s linear infinite;
	animation: rotating 8s linear infinite;
}
/* 
#danish::before {
	position: absolute;

	opacity: 0;

	left: 0;
	top: 0;
	padding: 1em;
	content: "Check out my Instagram";

	width: 100%;
	height: 100%;
	border-radius: 0 1em 1em 0;

	background-color: var(--primary-shade-3);
	transition: all 200ms ease-in;
}

#danish:hover::before {
	opacity: 1;
	left: 100%;
	top: 0;
} */

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes move-bg {
	to {
		background-position: var(--bg-size) 0;
	}
}

@media only screen and (max-width: 630px) {
	.personCard {
		height: 240px;
		width: 160px;
	}

	.personInfo h1 {
		font-size: 13px;
	}
	.personInfo p {
		font-size: 10px;
	}

	.sekbidContainer {
		gap: 1em;
	}

	.structurecontainer > h1 {
		text-align: center;
		right: 0;
		left: 0;
	}
}

@media only screen and (max-width: 500px) {
	.structurecontainer > h1 {
		font-size: 24px;
	}
	.personCard {
		height: 180px;
		width: 120px;
	}
	.personInfo {
		margin-top: 1em;
	}

	.personInfo h1 {
		font-size: 10px;
	}
	.personInfo p {
		font-size: 8px;
	}
}

@media only screen and (max-width: 370px) {
	.structurecontainer > h1 {
		font-size: 22px;
	}
	.personCard {
		height: 150px;
		width: 100px;
	}

	.personInfo {
		margin-top: 0.5em;
	}
}

@media only screen and (max-width: 330px) {
	.personCard {
		height: 120px;
		width: 80px;
	}

	.personInfo h1 {
		font-size: 9px;
	}
	.personInfo p {
		margin-top: 0.25em;
		font-size: 7px;
	}
}
