.OurStuff {
	width: 100%;
	height: 100%;
	padding-top: var(--title-padding-top);
	padding-bottom: 3em;
}

.prokercontainer {
	margin-top: 3em;
	width: 100%;
	display: grid;
	column-gap: var(--page-x-margin);
	row-gap: 1.5em;

	grid-template-columns: 50% 50%;
	justify-content: center;
}

.prokercard {
	position: relative;
	/* background: var(--primary); */
	border-radius: 0.75em;
	width: 100%;
	height: 280px;
	overflow: hidden;

	transition: 100ms ease-out;
}

.prokercard:hover {
	scale: 1.005;
}

.prokerlabel {
	position: absolute;
	background: linear-gradient(270deg, #a62e2e 50%, rgba(189, 65, 43, 0));
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

.prokerinfo {
	position: absolute;
	padding: 1em;
	right: 0;
	width: 50%;
	text-align: center;
}

.prokerinfo > h1 {
	color: white;
	font-size: var(--large-text);
	font-weight: 700;
}

.prokerinfo > p {
	color: white;
	margin-top: 1em;
	font-size: calc(var(--small-text) - 1px);
	font-weight: 300;
}

.image {
	width: 60%;
	height: auto;
}

.placeholder {
	width: 100%;
	height: 280px;
	background-color: var(--primary);
	border-radius: 0.75em;
	display: flex;
	justify-content: center;
	align-items: center;

	color: var(--contrast);
}

@media only screen and (max-width: 1078px) {
	.prokerinfo {
		width: 60%;
	}
	.image {
		height: 100%;
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	.prokercontainer {
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	.prokercard {
		height: 200px;
	}

	.prokerlabel {
		background: linear-gradient(270deg, #a62e2e 70%, rgba(189, 65, 43, 0));
	}

	.placeholder {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.prokerlabel {
		background: linear-gradient(270deg, #a62e2e 60%, rgba(189, 65, 43, 0));
	}
}
